@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string title = "Wellcome to the Asp.net Again ";

}

<!DocType html>
<head>
    <title>@title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="Author" content="W3docs">
    <link rel="stylesheet" type="text/css" href="~/style.css">
</head>
<body>
    <h1>Component views in ASp.Net Core </h1>
    <p>Today we start from the Component Views and so on this is the
        notes that takes some additional and theory information . </p>
        <p>in the shared folder we make a new item of razor layout vieew with the name of _Layout View . fter this define some content like make a navbar and links for the home and other pages 
            after this the render body div . we make this view for all views we can make the ViewStart file and tell the defualt layourt for the views  Run the aplication now </p>
            <p>for both of the pages like home and the about is need some of the common things we need to make the partial views for this but in this lecture i write some additional logic for this and make the component view </p>
            <p>Make new folder in the project and named as ViewComponent in this folder make a simple c# class name GridViewComponent (anything you want)  . now we inherit this class in inherit from the ViewComponent
                class an its in the mvc . every view componet have must the InvokeAsync method which is called automatically when the viewcomponent is called in the 
                any view   . return type of this is Task IViewComponentResult> /IViewComponentResult  . then return View . in the shared folder we make new folder calld components its ixed  then another folder 
            same as Viewcomponent class like in our example Grid . in the grid ad new view razor view empty add and select the razor view empty names Default.cshtml .
            its presentation logic for the view component</p>
            <p> in this we write some h1 tags . now we invoke the viewComponent in the indexView . we used the await component.InvokeAsync() method and
                pass the name of the view in our case Grid as parameters . now we invoked the viewComponent in the view . what if we changed the viewcomponent name  . like in the place of Defualt we write sample
                in this case we tell the return view method the view name like we pass the sample as the parameter . now the place of the heading we make a table in view component. 
            we also invoke this component in the about view we invoke this another way like we used the tagHelper </p>
            <h3>ViewComponent with viewData</h3>
            <p>its possible to pass data from viewcomponent class to viewcomponent view . i want to send the object in the view . i make a folder is Models and create the  Person.cs class 
                make the properties in this and make this class object in the view class and send the data by help of viewData or viewBag and then in the viewcomponent we
                access this and prints the data we also imports the models namespace in the _importsView file so its make accessable in any file 
                
            </p>
            <h3>ViewComponents as the stronglytyped viewComponents </h3>

            <p>As like partial view we can also make the strongly typed viewComponents inasp.net  . we bind the specific model class with this view component . and by the help of @Model 
                we can access the object that is passed from the viewComponent Class . </p>
                <h3>ViewComponent with parameters</h3>
                <p>like we wan to print the unique data every time when we invoke the viewcomponent its possible by the help of parametes . we pass the anoumimouse object in the viewcomponent
                    invokeAsync method then we see the unique Values every time .   </p>
                    <h3>ViewComponentResult </h3>
                    <p>SomeTimes We want to print the view on a click on a function or or need basis . its possible by returning the action method result
                        . we make a async request to the controller and the controller is return us the viewComponent as responce . and we render this responce in our page </p>


       <h1>The Dependency Injection </h1>
       <p>We writhe the bussines logic in the controller or in the view but thwre is an 
           other place to write the bussiness logic called the Services 
                  </p>
                  <h3>What is service</h3>
                  <p>The service is an abstraction layer bettween the prasantation layer and data layer</p>
                  <p>We make the new project by name the DEexample . then we edit the program.cs file  and after this </p>
                  <p class="bp">its good idea to make the service is seperate class  library becuase its good in the use of the other things .  </p>
                  <p>So  create the new project in the same namespace and then choose c# and in the third drop down list select the library  . select the class library simple .. 
                      name the class library like serviceLayer 
                      . the version yuo select must be same for the service and the project you make  . rrname the class like cities Service . This class includes the bussiness logic 
                  any middle wear logic are in the service  . make a string list and make a contsturctor. then make the mathod that  return the list of cities .  Then we make the new controller in the main project 
              MVC Empty controller . and create a view for this controller indx method . create the view bag title . create a shared folder in the views folder and add a new item  razor layout. 
          also make the wwwroot folder in the directory . we create some page content in the layout . make  a private readonly property of type citiesService class . we need to add the reference
          of the services in the web project to   access this service . right click on the project  then add then click project reference . alternative way is right click on dependencies 
      then add project dependencies then we select the path of the service and check the ckeck box . now we import the import the namespace in the home controller or in the imports 
  so we need to create the object of the cities service class . called instanciated the service . now we can class the methods or the variables of this class like getCities method calling 
. we send the cities list in the view and after this we are able to connect with the view in the view we make the strongly typed view . now we use this list to view the data in the page   </p>
<h2>Workflow of the services View or controller int asp.net core </h2>
<p>lets runn the applications add breakpoint in  the controller services and view as well . go to browser and making a request to refresh the page the controller is execute first then 
    the controll goes to the cities service and make objec of this then the controller methd is execute and controll goes into the service method and return the list of cities .
    then we will return the list in the view . and print the view in the web page . </p>

    <h1>Dependency inversion Principal</h1>
    <p>First when we make the object of the class in the controller it indicates that the class is called and object is created  the controller should wait and its time consuming 
        if you use the other classes like get the data from the data base like you use the hundred time services in diffrent time . its called client becuase its need also the third class to complete its executions
        if you make the changes in the service it effect the controller directly its anothr problem . when we make the alternative service interchanging the the services is a problem . 
    </p>
    <h3>Solution all of the problems </h3>
    <p>the solution is the Dependency inversion Principal . Dipp is a design principale in which the higher level modules is not depend on the lower level modules . so both are depend on the abstractions
        </p>
        <p>We make the a simple interface as a new project in the same namespace . write click on the project . add new project and select the . we create the class library and named as ServiceContracts
            select the same .net version . lets create an interface in serviceContracts as name ICitiesService . make a method in the interface called getcities . then add dependencies in project references . 
            then we used this and make the variable of this interface type . </p>
            <h1>inversion of Controll </h1>
            <p>Its an design pattern reuseable solution for the common problems which suggest loc container for implemantation of Dependency inversion principal  Dip . in the project progra.cs file 
                we add the service description and make the things easier for us . first argument is the actual class then second is what class object we want to make then third is the service life time
servicelifetime.Trasient. </p>
<h1>Dependency injection </h1>
<p>now the homecontroller is not ready to  get the object of the cities class or interface . Dependency injection in =s the design pattern . which is a technique for acheiving 
    Inversion of controll detween clients and their dependencies .  high level compoents recieves the low level compoents object . 
</p>
<p>in this we pass the parameters to the homecontroller which make the object automatically</p>
<h2>WorkFlow </h2>
<p>The controller is get the request and Ioc container supplied a object of the cities interface in the home controller . thenwe get the object of the cities class service . we assign this object 
    to the variable and lets use this . </p>
    <h1>Methods Injections [from services ]</h1>
    <p>if we want to inject the service in a specific method of a controller not for all the methods of a controller we can directly pass the 
        parameters in this method and inject the service </p><h1>ServiceLifeTimes</h1>
        <p>we giv three things in the service descriptore  1st is service name second is which we want to object and third is the lifetime of the service like transiant what they are   </p>
        <p>There 3 types of the serviceLifeTimes is the dependency injection</p>
        <ul>
            <li>Transient</li>
            <li>Scoped</li>
            <li>Singleton</li>
        </ul>
        <p>bassically its the time when the object is crewated and when its destroy the service object automatically</p>
<h3>Transient</h3>
<p>Every time when the service is ijected the new service object is maked automatically . </p>
<h3>Scoped</h3>
<p>its create the object of the service when an browser request is get started and when this request 
    is completed or end then its destroys this service object </p>
    <h3>Singleton</h3>
    <p>The service object is created when its ibnjected first time but for later time being the the same object 
        is reused  not create the new one untill the application is shutdown  </p>
        <h1>Service Scope</h1>
        <p>When application is run the root scoped is automaticaaly created for each request each scoped is created every time .    </p>

        <h1>short service called methods</h1>
        <p>we used the AddserviceDescriptor but there are some other short methods we used to add services in the project</p>
        <ul>
            <li>AddTrasnsient</li>
            <li>AssScoped</li>
            <<li>AddSingleton</li>
        </ul>

        <h1>View Injection</h1>
        <p>in asp.net core views are compiled as the c# classes . we also inject our service directly in the view so let see can it possible or not
            we do this by at inject this service object is not privdedd by the controller
              </p>
              <h1>Best practices of Dependency Injection</h1>
              <p>There are some good pratices we need to used while using DI in our project avoid some bad practices to used</p>
              <ul>
                  <li>used the GetRequired service in the child 
                      scope of the method we avoid to used it in the method openly
                      </li>
                      <li>we create the child scope of the service when we need other wise its good the 
                          global services 
                      </li>
                      <li>in the Entity framwork scope is done and control by itself so not need to do this in EF

                      </li>
                      <li>we not the dispose ethod to call it or do it manually becuase its duty of the IOC

                      </li>
                      <li>Avoid to inject the scoped or the
                          transient services in the singleton service its in the memmory untill the project is run

                      </li>
                      <li>its bad to used the reference of the services else in the project becuase maybe its dispose at the time when he caled 

                      </li>

              </ul>
    <h1>AutoFace</h1>
    <p>Autoface is another IoC library for 
        .net core means both are tightly coupled 

    </p>

    <p>in the built in container there are some limitation but in the 
        autoface there are some new feature so some times we need to used the autoface in our project 


    </p>
    <p>The autocap is the 2 more lifetime service  </p>
    <ul>
        <li>Instance perowned</li>
        <li>instancePerMachingScope</li>
        <li>Supported the metaData For services</li>
        <li></li>

    </ul>
    <h3>How to enable the autoface</h3>
    <p>right click on Dependencies > Manage nugetPackage >installed
        > brows > search autofac by atuofac contributters >
        select the version same as our project 6.3.0 > then >
        Download  >
    </p>
    <p>We also need other package called the autofac.Extension.Dependency injection</p>
    <p>search and click on the autofac.Extension.Dependency injection and click on install
         </p>
         <p>Enable the autoface in out project gi to program.cs and top most 
             after web builder builder.Host.useServiceProviderFactory(new Autofaceservice())
             we also need the import the extension . 
         </p>

         <h1>Envirements </h1>
         <p>Envirments are the system in wich the application is currently running
             l.
         </p>
         <ul>
             <li>Developments </li>
             <li>Staging</li>
             <li>Production</li>

         </ul>
         <h1>Envirement in luanch setting file</h1>
         <p>by defualt when we create new asp.net core web application 
             in the luanch setting file we can see the evirement variables by defualt it sets for production but we configure it what ever we want
             like we change it with staging now our application is work in staging envirement . 

         </p>
         <p>Now we create the controller in project and create index view for the index method 
             and in the views folder create a shared folder and make a layout in this 
             and also make a viewstart file and give the view path.

         </p>
         <p>Changing the Envirement name is not diffrence in the order or
             anything . then what the iffrence is make by this name  . in program.cs
             write a check  app.envirement.isdevelopment(){
                 ..............
             }</p>
             <h1>Envirement in controller</h1>
             <p>sometimes we need the envirement variable value 
                 in some controller or in services so we do this in this way

             </p>
             <p>We create a private filed in the controller readonly
                 like webHostEnvirement make a constructor and in this we assign this to the value 
                 now we are able to do same like program .
                 cs in the controller method using  envirementName . we also show it in the view like 
                 passing by viewbag . 

             </p>
             <h1>Envirement Tag Helpers</h1>
             <p>some times we need to add some additional content 
                 according to the envirement so we do this by this method
                 envirement include="Enronmet1,envirenmet2" <br />
                 html code here ...... <br />
                 /envirment
             </p>
             for example we want to show the button if the envirement is 
             development in the view and first we import all the tag Helpers 
             and then make a button in the view and this is only shown when the envirement is development
<h1>Process level envirements</h1>
<p>remember that this luanch setting.json file is only for development server its not for the 
    staging or deployment stage . now how we get this and set the envirement varaible in .net 
    application .
    we do this by running some command in the command 
    propt letd do this</p>

    <p>we search the terminal and open it make sure you are in the windows power shell
        then go to the directory where you applicationis available 
        like c:/aspnetcorecourse/example then run this command</p>
        <p>dotnet run </p>
        <p> diasable luanch.
            jsonfile command : dotnet run  --no-launch-profile

        </p>

        <h1>Configrations </h1>
        <p>Congigration are the kay value pairs are 
            
            the set of the common location and can be 
            read from anywhere in the same application like coonection strings clientID, Api keys 
            etc .... <br />
            how we set the conig files and set and get the values in the 
            files . by default there is an appsetting.json file in the project which have the 
            we access this any where any service any controller any class etc
            make new project 

        </p>
        <p>in the appsetting file we make a apir of key value as myKey:L "my key value"<
            <br />
            then we use the  map.endpoint in program.cs 
            and access this mykey value in the program.cs 
we also used thesecond method of the app.configration.getValue <--string>("keyName");
    </p>
    <p>We hav a method to set the defualt value to
        the config ket like we set the ket 'x' is 10
        if the value of the x is not present its sets 10 
        to the x value 
    </p>
    <h1>Read configration in controller</h1>
    <p>some times we need to get the configration value in the controller or the services 
        then we inherit this by the Iconfigarationn Interface . 



    </p>
    <p>we make the new controller in the projct and in this controller we 
        create a view for the index method its create an Views/Home /Index view 
        in this view we write some HTml code  . then run the application its work perfect 
    </p>
    <p>We make a private property variable of Iconfigration type 
     in the constructor we passed an object of the iconfigration 
     and assing the private field equals to this . then in the index method by this private field we can accss the config keys values 
     same like as we access in the program.cs through
     configration[key] or configrstion.GetValue<string>("key");


    </p>
    <h1>Hierarchical Configration </h1>
    <p>we see the Hierarchical Configration in the form of for example we make a object by name weather api in this object we create the some 3 properties of this 
        in the controller inthe action method we need to reed the client id ket value 
        so we get this in this form  <br />
    app.Configration.GetValue("weatherApi:ClientId") or 
app.Configration["weatherApi:ClientID"] <br />


</p>
<p>But there is another method to read the values of the 
    Heirarchical configrations . by Getsection(string key );
        for example :
        app.Configration.GetSection("weatherApi"")["ClientID"];


</p>
<h1>Options Pattern in configration</h1>
<p>Some times we need only few properties in the object of configration and we wanrt to store these values in the class properties . first we make a modal class and then only those values are store in the 
    properties of the class that we want from the configration object 
only those properties read that we want otherwise not its called the optons pattern in the 
configrations

</p>
<p>rigth click on the project  add a cs class in the project then make public properties same name as the configration properties name 
    its an normal class . now we go to home controller while reading the 
    values of the configration  the hav a method called Get  in this pass the value of the 
    class name which we want to make object its automatically create object and assign its properties values from configration 
    as we want 

</p>
<p>We have another way to do that we ahve an other method called Bind in which we need to first
    create the class object and then we go to the main configration value  then bind the class object wit this </p>
<p>The major diffrence between thenm is  </p>
<h1>Configration as SErvice </h1>
<p>Exceot the creating new object its better to inject the 
    configration in the constructor as service  . 
    for this in the program.cs file we tell the 
    builder.services.
    Configure<WeatherApiOptions>(builder.configrstion.
        GetSection("WeatherApi"));

     
</p>

<p>after this we inject this as a normal service like in the controller in the constructor 
    Ioptions we get the same values as same we access by other methods 
</p>

</body>
</html>
